body {
  background-color: #F5F5F5;

}
hr {
  border-color: #99A799;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;

  width: 6%;
}

h1 {
  color: #66BFBF
}

h3 {
color: #66BFBF

}

.world:hover {
color: gold;
}
